<% if warden.authenticated? %>
  <a href="/logout">Logout</a><br>
<% end %>
<h1>Milestone Dashboard</h1>

<% if warden.authenticated? %>
    <a href="/milestones" class="ui primary button">Milestones</a>
<% end %>

<br>
<br>

<% if !warden.authenticated? %>
   <a href="/login">Login</a><br>
<% end %>