<div class="homepage">

<% if warden.authenticated? %>
  <a class="logout-button <%= warden.authenticated? ? "logged-in" : "logged-out" %>" href="/logout">Logout</a>
<% end %>


<div class="homepage-container">

  <div class="ui center aligned icon header">
    <i class="github icon"></i>
  </div>

  <h2 class="ui center aligned header"><%= warden.authenticated? ? "Welcome!" : "Milestone Dashboard" %></h2>

    <div class="login-container ui center aligned icon header">
      <% if warden.authenticated? %>
          <a href="/milestones" class="ui large primary button">View  Milestones</a>
      <% else %>
        <a href="/login" class="large ui primary button">Login</a>
      <% end %>
    </div>

</div>

</div>
