<div class="homepage">


<% if warden.authenticated? %>
  <a href="/logout" >Logout</a><br>
<% end %>


<% if warden.authenticated? %>
    <a href="/milestones" class="ui primary button">Milestones</a>
<% end %>

<div class="homepage-container">

  <div class="ui center aligned icon header">
    <i class="github icon"></i>
  </div>

  <h1 class="ui center aligned header">Milestone Dashboard</h1>

  <% if !warden.authenticated? %>

    <div class="login-container ui center aligned icon header">
      <a href="/login" class="login large ui primary button">
        Login
      </a>
    </div>
     
  <% end %>

</div>

</div>
