<!doctype html>
<html>
  <head>
    <!-- Load CSS HERE -->
  </head>

  <!-- Body of Application -->
  <body>
    <!-- Yield to your ERB templates. -->
    <%= yield %>

    <!-- Load Global and Custom JavaScript HERE -->
    <%= javascripts %>
  </body>
</html>
