<!doctype html>
<html>
  <head>
    <!-- Load Global and Custom CSS HERE -->
    <link rel="stylesheet" type="text/css" href="/css/semantic.css">
    <link rel="stylesheet" type="text/css" href="/css/icon.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <%= styles %>
  </head>

  <!-- Body of Application -->
  <body>
    <!-- Yield to your ERB templates. -->
    <% if main_nav %>
      <div class="ui fixed inverted main menu">
        <div class="container">
          <a class="launch item" href="/">
            <i class="home icon"></i>
            Home
          </a>
          <% if back_button %>
            <a class="icon item" href="/milestones">
              <i class="left chevron icon"></i>
            </a>
          <% end %>
          
          
          <div class="right menu">
          </div>
        </div>
      </div>

      <br><br>
    <% end %>

    <%= yield %>

    <!-- Load Global and Custom JavaScript HERE -->
    <%= javascripts %>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>
    <script type="text/javascript" src="/js/semantic.js"></script>
    <script type="text/javascript" src="/js/tablesorter.min.js"></script>
  </body>
</html>
