.ui.grid {
  margin: 0;
}

.ui.active.progress .bar::after {
  -webkit-animation: none;
  animation: none;
}

.ui.table td.error a {
  color: #cd2929 !important;
}

.ui.table tr.active td, .ui.table tr.active td a, .ui.celled.table tr.active:hover td, .ui.celled.table tr.active:hover td a {
  background: #898989 !important;
  color: white !important;
}

/*HOMEPAGE*/

.homepage .login.ui.primary.button {
  margin: 0 auto;
}

.homepage .login-container {
  text-align: center;
}

.logout-button {
  position: absolute;
  right: 20px;
  top: 15px;
  color: white;
}

.homepage .homepage-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.homepage-container h2.ui.header {
  color: white;
  margin-top: -5px; 
  letter-spacing: 1px;
}

.homepage-container .ui.icon.header .github.icon {
  color: white;
  font-size: 70px;
}

.homepage, .overview, .categories, .ui.active.dimmer {
  height: 100%;
  width: 100%;
  background: #004b72;
  background: -moz-radial-gradient(center bottom, ellipse cover, #004b72 0%, #002335 100%);
  background: -webkit-gradient(radial, center bottom, 0px, center bottom, 100%, color-stop(0%,#004b72), color-stop(100%,#002335));
  background: -webkit-radial-gradient(center bottom, ellipse cover, #004b72 0%,#002335 100%);
  background: -ms-radial-gradient(center bottom, ellipse cover, #004b72 0%,#002335 100%);
  background: radial-gradient(ellipse at center bottom, #004b72 0%,#002335 100%);
}

.ui.active.dimmer {
  z-index: 1000;
}

/*OVERVIEW*/

.overview-stats-container {
  position: relative;
  top: 40%;
  transform: translateY(-40%);
}

.overview .ui.menu .item > i.icon, .categories .ui.menu .item > i.icon {
  margin-left: 10px;
  opacity: 1;
  color: white;
}

.overview .ui.menu .item, .categories .ui.menu .item {
  color: white;
  opacity: 1;
}

.overview .ui.menu .item:hover, .categories .ui.menu .item:hover {
  color: white;
}

.overview .ui.segment {
  background: none;
  box-shadow: none;
  border: 1px solid rgba(0,0,0,0);
}

.overview .ui.segment:hover {
  cursor: pointer;
  /*border: 1px solid #B2C2CA;*/
}

.overview .ui.statistic > .value {
  color: white;
}

.overview .ui.statistic > .label {
  color: white;
  opacity: 0.7;
}

/*CATEGORIES*/

.categories-container {
  padding: 20px 40px; 
}

.categories {
  overflow:auto;
}

.categories table {
  background: none !important;
  color: white !important;
}

.categories .ui.table thead th {
  background: none !important;
  color: #9AADB6;
}

.categories .ui.table tr.filtered {
  display: none;
}
