.ui.grid {
  margin: 0;
}

.ui.active.progress .bar::after {
  -webkit-animation: none;
  animation: none;
}

.ui.table td.error a {
  color: #cd2929 !important;
}

.ui.table tr.active td, .ui.table tr.active td a, .ui.celled.table tr.active:hover td, .ui.celled.table tr.active:hover td a {
  background: #898989 !important;
  color: white !important;
}