.ui.grid {
  margin: 0;
}

.ui.active.progress .bar::after {
  -webkit-animation: none;
  animation: none;
}

.ui.table tr.active td, .ui.celled.table tr.active:hover td {
  background: #898989 !important;
  color: white !important;
}